<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "NotiMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="notiMap" type= "study.spring.zigme.model.Post">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="postTitle" column="postTitle" />
		<result property="commContent" column="commContent" />
		<result property="countComm" column="countComm" />
		<result property="postNo" column="postNo" />
		<result property="postNoti" column="postNoti" />
		<result property="commNo" column="commNo" />
		<result property="commNoti" column="commNoti" />
		<result property="userNo" column="userNo" />
	</resultMap>
	
	<!-- 단일행 조회를 위한 기능 정의 -->
<!-- 	<select id ="selectItem" parameterType="study.spring.zigme.model.Post"
	resultMap="notiMap">
	SELECT p.postNo, postNoti, c.commNo, commNoti
	FROM POST p, comment c
	WHERE p.PostNo = #{postNo} AND p.PostNoti = #{postNoti};
	</select> -->
	
	<!-- '읽지않음'인 상태의 알림 다중행 조회를 위한 기능 정의 -->
	<select id ="selectList" parameterType="study.spring.zigme.model.Post"
	resultMap="notiMap">
	<!-- 게시글에 댓글이 달린 경우 다중행 조회 쿼리  -->
	SELECT p.postNo, p.postTitle, count(commNo) as countComm FROM comment c, post p 
		WHERE c.postNo = p.postNo
		AND c.postNo IN (SELECT postNo FROM post WHERE postNoti = 2 AND userNo = #{userNo})
		GROUP BY c.postNo;
	</select>
	
 	<!-- $ '읽지않음'인 상태의 알림 다중행 조회를 위한 기능 정의  -->
	<select id ="selectCommList" parameterType="study.spring.zigme.model.Post"
	resultMap="notiMap">
	<!-- 댓글에 댓글이 달린 경우(=대댓글) 다중행 조회 쿼리 -->
 	SELECT A.postNo, A.commNo, A.commContent, count(A.commNo) as countComm FROM comment A, comment B WHERE A.commNo = B.parentNo 
		AND B.commNoti = 2 
		AND B.userNo = #{userNo}
		GROUP BY A.commNo
		ORDER BY A.commRegdate;
	</select>
	
	<!--  읽은 알림이 '읽음' 상태가 되도록 수정하는 기능 정의 -->
	<update id= "updateItem"
	parameterType="study.spring.zigme.model.Post">
	UPDATE post SET	postNoti = "Y" WHERE postNo = #{postNo}
	</update> 
	
 	<update id= "updateCommItem"
	parameterType="study.spring.zigme.model.Post">
	UPDATE comment SET commNoti = "Y" WHERE commNo = #{commNo} 
	</update>
	
</mapper>
