<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="SchedulerMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="scheduleMap" type= "study.spring.zigme.model.Scheduler">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="scheNo" column="scheNo" />
		<result property="scheCate" column="scheCate" />
		<result property="scheContent" column="scheContent" />
		<result property="scheLoc" column="scheLoc" />
		<result property="scheStartdate" column="scheStartdate" />
		<result property="scheEnddate" column="scheEnddate" />
		<result property="userNo" column="userNo" />
	</resultMap>
	
	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="selectItem" parameterType= "study.spring.zigme.model.Scheduler"
		resultMap = "scheduleMap">
		SELECT * FROM scheduler where scheNo=#{scheNo};
	</select>
	
	<!-- 리스트 갯수를 count하기 위한 쿼리 -->
	<select id="selectCountAll" parameterType= "study.spring.zigme.model.Scheduler" resultType="int">
		SELECT COUNT(*) FROM scheduler where userNo=#{userNo} and DATE(scheStartdate) BETWEEN #{scheStartdate} AND #{scheEnddate}
		 ORDER BY scheStartdate ASC;
	</select>
	
	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList" parameterType= "study.spring.zigme.model.Scheduler"
		resultMap = "scheduleMap">
		SELECT * FROM scheduler where userNo=#{userNo} and DATE(scheStartdate) BETWEEN #{scheStartdate} AND #{scheEnddate}
		 ORDER BY scheStartdate ASC;
	</select>	
	
	<!--  데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem" parameterType= "study.spring.zigme.model.Scheduler"
		useGeneratedKeys="true" keyProperty="scheNo">
			INSERT INTO scheduler (scheCate, scheContent, scheLoc, scheStartdate, scheEnddate, userNo)
				VALUES (#{scheCate}, #{scheContent}, #{scheLoc}, #{scheStartdate}, #{scheEnddate}, #{userNo})
	</insert>	
	
	<!--  데이터 수정을 위한 기능 정의 -->
	<update id="updateItem" parameterType= "study.spring.zigme.model.Scheduler">
			UPDATE scheduler 
			<set> 
				<if test="scheCate != null"> <!-- <SET>에 if를 사용하면 불필요한 ,는 자동으로 지워준다. -->
					scheCate = #{scheCate},
				</if>
				<if test="scheContent != null">
					scheContent = #{scheContent},
				</if>
				<if test="scheLoc != null">
					scheLoc = #{scheLoc},
				</if>
				<if test="scheStartdate != null">
					scheStartdate = #{scheStartdate},
				</if>
				<if test="scheEnddate != null">
					scheEnddate = #{scheEnddate}
				</if>
			</set>			
			WHERE scheNo = #{scheNo} AND userNo = #{userNo};									
	</update>
	
	<!--  데이터 삭제를 위한 기능 정의 -->
	<delete id="deleteItem" parameterType= "study.spring.zigme.model.Scheduler">
			DELETE FROM scheduler WHERE scheNo = #{scheNo} AND userNo = #{userNo};									
	</delete>
</mapper>