@charset "UTF-8";

/** help CSS에서  td 제어시 절대 td 단독 사용 금지 -> help_comm에서만 허용 */


/**
/* help_chart.jsp 
*/

.formcon_chart {
	padding: 0px;
	font-size: 13px;
}

#parent.formcon_chart {
	font-family: none;
	margin-bottom: 6px;
}

option {
	font-family: none;
}

.between {
	font-size: 25px;
}

.view {
	margin-bottom: 6px;
	margin-left: 10px;
}

.textmining {
	width: 920px;
	height: 920px;
	margin: auto;
	background-image: url("../../img/help/help_chart.png");
	background-size: 100% 100%;
	text-align: center;
	font-size: 50px;
}

.table .help_chart_table {
	width: 80%;
	margin-left: 120px;
}

.help_chart_table>thead>tr>th,
.help_chart_table>tbody>tr>td {
	vertical-align: middle;
}

.chartsort {
	color: #4041fe;
	font-size: 20px;
	text-align: center;
	padding-top: 0;
	vertical-align: middle;
}

.chartrank {
	/** help_chart CSS에서  td 제어시 절대 td 단독 사용 금지 -> help_comm에서만 허용 */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.first {
	font-family: 'S-CoreDream-6Bold';
	font-size: 40px;
	color: #b14eff;
	margin: 10px 0;
}

.second {
	font-family: 'S-CoreDream-5Medium';
	font-size: 37px;
	text-align: center;
	color: #9867ff;
	margin: 10px 0;
}

.third {
	font-family: 'S-CoreDream-5Medium';
	font-size: 34px;
	text-align: center;
	color: #728dff;
	margin: 10px 0;
}

.fourth {
	font-family: 'S-CoreDream-4Regular';
	font-size: 31px;
	text-align: center;
	color: #609fff;
	margin: 10px 0;
}

.fifth {
	font-family: 'S-CoreDream-4Regular';
	font-size: 28px;
	text-align: center;
	color: #4fb0ff;
	margin: 10px 0;
}

.no {
	width: 10%;
}

.count {
	width: 10%;
}

.click {
	cursor: pointer;
}


/** help_chart style END */

/**
* help_comm_read.jsp
*/

.help_read_a {
	color: #777;
}

#comments-container {
	padding: 20px;
	margin: 0px;
	font-size: 14px;
}

.btns_padding {
	padding-right: 3px;
}

.links {
	display: inline-block;
}

.links_padding {
	position: relative;
	right: 8px;
}

#read_button_group {
	display: inline-block;
	width: 100%;
}

#read_buttons1 {
	display: inline-block;
}

#read_buttons2 {
	display: inline-block;
	padding-right: 10px;
	position: relative;
	bottom: -15px;
}

#content {
	width: auto;
	min-height: 550px;
}

#content_group {
	font-size: 32px;
	font-weight: bold;
	padding: 20px 0 20px 0;
	margin: 15px 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

#content_body {
	font-size: 15px;
}

.content_sub {
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	color: #777;
}

#comm_upper {
	text-align: center;
}

.content {
	padding-top: 20px;
}

/** help_comm_read style END */

/**
* help_comm_write.jsp
*/

#write_buttons {
	padding-left: 45%;
}

.input-group-lg>.editor_title,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
	font-size: 15px;
}

.row {
	display: block;
	position: none;
}

.input-group .editor_title {
	float: left;
	width: 100%;
	margin-bottom: 0;
}

/** help_comm_write.jsp END */

/**
/* help_comm.jsp 
*/

.help_comm_table>thead>tr>th,
.help_comm_table>tbody>tr>th,
.help_comm_table>tfoot>tr>th,
.help_comm_table>thead>tr>td,
.help_comm_table>tbody>tr>td
.help_comm_table>tfoot>tr>td {
	vertical-align: middle;
}

#titles{
	text-align: left;
}

.help_comm_table>thead>tr>th,
.help_comm_table>tbody>tr>th,
.help_comm_table>tfoot>tr>th,
.help_comm_table>thead>tr>td,
.help_comm_table>tbody>tr>td,
.help_comm_table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

#comm_upper {
	text-align: center;
}

#comm_middle {
	margin-bottom: 15px;
}

#comm_bottom {
	margin-top: 15px;
}

#button_w {
	font-weight: bold;
	width: 100px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.info th {
	color: #4041fe;
	font-weight: bold;
	text-align: center;
	padding-top: 0;
	vertical-align: middle;
	background-color: #D9EDF7;
}

td {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.admin_writings {
	background-color: #EDF7FE;
}

.notice {
	display: inline-block;
	color: white;
	width: 57px;
	height: 22px;
	background-color: #4041fe;
	text-align: center;
	border-radius: 5px;
}

.help_comm_table {
	width: 100%;
}

.hightlight {
	color: red;
}

.help_comm_point {
	cursor: pointer;
}

.content_left {
	text-align: left;
}

.pagination {
	position: relative;
	top: 50px;
	left: 50px;
	margin: 0;
}

.bottom_btns {
	padding-top: 10px;
	text-align: center;
}

.formcon-comm {
	height: 28px;
	padding: 3px 12px;
}

/** help_comm style END*/


/**
* help_main.jsp
*/

.hbody {
	width: 80%;
	padding-top: 50px;
	margin: auto;
}

.hbody img {
	width: 89%;
	margin: 10% 6% 30% 6%;
	border-radius: 10%;
}

/** help_main style END*/